body,
html,
#root {
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Helvetica Neue", sans-serif;
}
